<!DOCTYPE html>
<html lang="en" data-ng-app>
<title>Esqueleto</title>
<meta charset="UTF-8">
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="styles.css">

<body>
  <header><h1>El Estructura Esqueleto</h1></header>
  <figure>
    <img id=image1 src=http://i.levykauppax.fi/cover/normal/3/36/368168.jpg>
  </figure>
  <figcaption>Mutacalypso Now!</figcaption>  
  <br>
  <div ng-init="userValue='text'" ng-hide=hidden>

    <input type=text ng-model="userValue"> <br>
    
    {{ userValue }} <br>
  </div>
  <input type=checkbox ng-model="hidden"> <br>
  <br>
  <footer>
    <address>
    <strong>Esqueleto, Inc.</strong><br>
    321 Mutant Ave<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">#</abbr> (123) 456-7890<br>
    <strong>Muta Calypso</strong><br>
    <a href="mailto:#">muta.calypso@esqueleto.com</a>
  </address>
  </footer>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="main.js"></script>
</body>
</html>